<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpotifyTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SpotifyTracker.styles.css" asp-append-version="true" />
    <!-- Home.css -->
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<body>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        @if (User.Identity.IsAuthenticated)
        {
            <p>Welcome, @User.Identity.Name!</p>
            <a asp-controller="Auth" asp-action="Logout">Logout</a>
        }
        else
        {
            <a asp-controller="Auth" asp-action="Login">Login with Spotify</a>
        }
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Spotify" asp-action="TopArtists">View My Top Artists</a>
        }


    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
