<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpotifyTracker</title>
    <!-- Inter font linking -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!-- CSS linkings -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/SpotifyTracker.styles.css" asp-append-version="true" />
    <!-- Common css -->
    <link rel="stylesheet" href="~/css/default.css"/>
    <!-- Login.css -->
    <link rel="stylesheet" href="~/css/login.css" />
    <!-- TopArtists.css -->
    <link rel="stylesheet" href="~/css/artists.css"/>
    <!-- Songs.css -->
    <link rel="stylesheet" href="~/css/songs.css"/>
    <!-- Banners.css -->
    <link rel="stylesheet" href="~/css/banners.css" />
    <!-- Genres.css -->
    <link rel="stylesheet" href="~/css/genres.css" />
    <!-- Animations.css -->
    <link rel="stylesheet" href="~/css/animations.css" />
</head>
<body>
    <main role="main" class="main-style"style="height:  100dvh !important;">
        @RenderBody()
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<!-- Diagram.js -->
<script src="~/js/diagram.js"></script>
<!-- Animation.js -->
<script src="~/js/animations.js"></script>
</html>
