@{
    ViewData["Title"] = "Home Page";
}

<div class="login">
    <div class="login-hero">
        <h1 class="title">Your valuable statistics in one place.</h1>
        <div class="hero-icons">
            <img class="spotify-logo"/>
            <h1 style="font-size: 32px font-weight: 500; color: white">x</h1>
            <h1 class="sop-logo">SOP</h1>
        </div>
        <div class="hero-button">
            <h1 class="button-title">Login</h1>
        </div>
    </div>
</div>