@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="background">
        <div class="welcome-hero">
            <img class="user-image" />
            <h1 class="welcome-title">Welcome, SOP</h1>
        </div>
        <div class="artists">
            <div class="artists-hero">
                <div class="artists-cont">
                    <img class="artist-image" />
                    <h4 class="artist-title">1. Future</h4>
                </div>
                <div class="artists-cont">
                    <img class="artist-image" />
                    <h4 class="artist-title">1. Future</h4>
                </div>
                <div class="artists-cont">
                    <img class="artist-image" />
                    <h4 class="artist-title">1. Future</h4>
                </div>
                <div class="artists-cont">
                    <img class="artist-image" />
                    <h4 class="artist-title">1. Future</h4>
                </div>
                <div class="artists-cont">
                    <img class="artist-image" />
                    <h4 class="artist-title">1. Future</h4>
                </div>
            </div>
            <h1 class="hero-title">Top artists</h1>
        </div>
        <div class="tracksgenres">
            <div style="display: flex; flex-direction: row; width: 100%; gap: 15px">
                <div class="tracks-hero">
                    <div class="tracks-cont">
                        <img class="tracks-image" />
                        <h4 class="tracks-title">1. Over</h4>
                    </div>
                    <div class="tracks-cont">
                        <img class="tracks-image" />
                        <h4 class="tracks-title">1. Over</h4>
                    </div>
                    <div class="tracks-cont">
                        <img class="tracks-image" />
                        <h4 class="tracks-title">1. Over</h4>
                    </div>
                    <div class="tracks-cont">
                        <img class="tracks-image" />
                        <h4 class="tracks-title">1. Over</h4>
                    </div>
                    <div class="tracks-cont">
                        <img class="tracks-image" />
                        <h4 class="tracks-title">1. Over</h4>
                    </div>
                </div>
                <div class="tracks-hero">
                    <div class="tracks-cont">
                        <img class="tracks-image" />
                        <h4 class="tracks-title">1. Over</h4>
                    </div>
                    <div class="tracks-cont">
                        <img class="tracks-image" />
                        <h4 class="tracks-title">1. Over</h4>
                    </div>
                    <div class="tracks-cont">
                        <img class="tracks-image" />
                        <h4 class="tracks-title">1. Over</h4>
                    </div>
                    <div class="tracks-cont">
                        <img class="tracks-image" />
                        <h4 class="tracks-title">1. Over</h4>
                    </div>
                    <div class="tracks-cont">
                        <img class="tracks-image" />
                        <h4 class="tracks-title">1. Over</h4>
                    </div>
                </div>
            </div>
            <h1 class="hero-title">Top tracks and genres</h1>
        </div>
        <div class="recent">
            <div class="recent-hero">
                <div class="recent-cont">
                    <img class="recent-image" />
                    <h4 class="recent-title">1. Timeless - TheWeeknd feat. Playboi Carti</h4>
                </div>
                <div class="recent-cont">
                    <img class="recent-image" />
                    <h4 class="recent-title">1. Timeless - TheWeeknd feat. Playboi Carti</h4>
                </div>
                <div class="recent-cont">
                    <img class="recent-image" />
                    <h4 class="recent-title">1. Timeless - TheWeeknd feat. Playboi Carti</h4>
                </div>
                <div class="recent-cont">
                    <img class="recent-image" />
                    <h4 class="recent-title">1. Timeless - TheWeeknd feat. Playboi Carti</h4>
                </div>
                <div class="recent-cont">
                    <img class="recent-image" />
                    <h4 class="recent-title">1. Timeless - TheWeeknd feat. Playboi Carti</h4>
                </div>
            </div>
            <h1 class="hero-title">Top tracks and genres</h1>
        </div>
    </div>
</div>
