div.artists {
    width: 100%;
    height: 100dvh;

    background-color: black;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 40px;
    padding: 120px 30px;
}
h1.artists-heading {
    font-size: 50px;
    font-family: Inter, sans-serif;
    font-weight: 800;
    color: white;
}
div.artists-hero {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;

    gap: 50px;
}
div.artists-cont {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 10px;
}
img.artists-image {
    width: 200px;
    height: 200px;
    border-radius: 360px;
}
h2.artists-name {
    font-size: 28px;
    font-family: Inter, sans-serif;
    font-weight: 800;
    color: white;
}
a.artists-redirect {
    color: #1db954;
}

/* Hovers */

a.artists-redirect:hover {
    text-decoration: underline !important;
}
