
/* ARTISTS AND GENERES BANNER */

div.banner {
    width: 100%;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 70px;

    /* Background adjustments */
    background-repeat: no-repeat;
    background-position: center;
}
div.banners-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SONGS BANNER */

div.songs-heading-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

/* HEADINGS */

h1.banner-title-1 {
    font-family: Inter, sans-serif;
    font-size: 60px;
    font-weight: 800;
    text-align: center;

    color: white;
}

h1.banner-title-2 {
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    color: white;
}

h1.banner-title-3 {
    font-family: Inter, sans-serif;
    font-size: 170px;
    font-weight: 900;
    text-align: center;

    color: white;
}

/* BANNER BGS */

div.artists-banner {
    background-image: url(/media/banners/travis.png);
}
div.genres-banner {
    background-image: url(/media/banners/carti.png);
}
div.songs-banner {
    background-image: url(/media/banners/drake.png);
}