nav.nav-hero{
    width: 100%;
    height: 70px;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    gap: 30px;
    padding: 0 50px;
}
img.nav-icon {
    width: 30px;
    height: 30px;
}